# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
build

# Local env files
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Local Netlify folder
.netlify
